<article>
<h3>Login page</h3>
<ul>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <input placeholder="Email" id="email" formControlName="email" type="email" name="email">
    <!-- <li><i class="fa fa-key" aria-hidden="true"></i> Password</li> -->
    <i class="fa fa-key" aria-hidden="true"></i>
    <input placeholder="Password" id="password" formControlName="password" type="password" name="password">
</ul>
<button>Login</button>
</article>


<!-- <div class="form-group">
    <input class="form-control item" formControlName="password" type="password" name="password"
        id="password" placeholder="******" [class.input-error]="shouldShowErrorForControl('password')">
</div> -->