<article>
    <h3>Register page</h3>
    <ul>
        <div>

            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input placeholder="Email" id="email" formControlName="email" type="email" name="email">
        </div>
      
        <div>  <i class="fa fa-key" aria-hidden="true"></i>
            <input placeholder="Password" id="password" formControlName="password" type="password" name="password"></div>
       
        <div>

            <i class="fa fa-key" aria-hidden="true"></i>
        <input placeholder="Repeat password" id="rePassword" formControlName="rePassword" type="password" name="rePassword">
        </div>
    </ul>
    <button>Register</button>
    </article>